# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
out/
*.tsbuildinfo

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Cache & history
.npm/
.eslintcache
.node_repl_history

# Environment variables
.env
.env.*

# System files
.DS_Store

# Uploads & archives
*.zip
